@model realtime_idea_space.Models.CommentModel


@using (Html.BeginForm("Create", "Comment")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.IdeaModelId)
        @Html.HiddenFor(model => model.CommentByUserId)

        <div class="form-group">
            <div class="control-label col-md-2">
                @Html.LabelFor(model => model.Text)
                <div>Or comment by SMS: <strong>@Model.ParentIdeaModel.CommentPhoneNumber</strong></div>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Post" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
