@model realtime_idea_space.Models.IdeaModel
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>IdeaModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.GetUserId() == Model.CreatedByUserId)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
    @Html.ActionLink("Back to List", "Index")
</p>

<h2>Comments (@Model.Comments.Count)</h2>

@foreach (var comment in Model.Comments)
{
    <div>
        <span>@comment.Created</span>
        <p>
            @comment.Text
        </p>
    </div>
}

@{Html.RenderAction("CreateComment", new { IdeaModelId = Model.Id, CommentByUserId = User.Identity.GetUserId() });}